Title: Sigma to Wazuh Converter Config
Info: false # Print out verbose information
Debug: false # Print out debug information
Sigma:
  # root of the Sigma rules URL
  BaseUrl: https://github.com/SigmaHQ/sigma/tree/master/rules
  # Sigma rules location
  RulesRoot: ../sigma/rules
  # Convert only rules with status, comment out status' you don't want converted
  RuleStatus:
    - stable
    - test
  #  - experimental
  #  - deprecated
  #  - unsupported
  # Sigma rule IDs to never try and convert (list)
  SkipIds:
  # Ignore all "convert only's" and convert all rules (yes|no), overides all other convert_only's
  # skip* will still be skipped
  # rule status will also be considered when converting all
  ConvertAll: false
  # Convert only these Sigma categories (list)
  ConvertCategories:
  # Convert only these Sigma services (list)
  ConvertServices:
  # Convert only Sigma rules targeting these explicit products (list)
  ConvertProducts:
    - windows
    - linux
    - azure
    - m365
  # skip stuff (list)
  SkipProducts:
  SkipServices:
  SkipCategories:
Wazuh:
  # file that Wazuh rules will be written to
  RulesFile: ./sigma.xml
  # where to start rule ID numbering
  # if you change this variable and want existing rules renumbered,
  #   then delete the file specified by rule_id_file before the next run
  RuleIdStart: 200000
  # file to track Wazuh rule id to Sigma rule ID use
  RuleIdFile: ./rule_ids.json
  # Maximum number of rules per XML file (split large files into multiple parts)
  # Set to 0 to disable splitting
  # Recommended: 500-1000 rules per file for optimal performance
  MaxRulesPerFile: 500
  # Product-specific rule ID starting points (10000 IDs per product range)
  ProductRuleIdStart:
    windows: 200000
    linux: 210000
    azure: 220000
    m365: 230000
  # Convert Sigma rule levels to Wazuh levels
  Levels:
    informational: 5
    low: 7
    medium: 10
    high: 12
    critical: 15
  # Wazuh rule settings
  Options:
    # do not include the full log in the wazuh alert (true|false)
    NoFullLog: true
    # enable Wazuh email per Sigma GUID (list)
    SigmaIdEmail:
    # have wazuh send an alert email (true|false)
    EmailAlert: true
    # at what levels do we want to enable Wazuh email alerts (list)
    # disabled if SigmaIDEmail field above is false
    EmailLevels:
      - critical
      - high
  ######################################################
  # Map Sigma GUID or [logsource][product] to Wazuh if_sid dependencies
  #
  # NOTE: This can cause Wazuh to go Out of Memory due to the number of associations between rules using if_group
  #
  # if_group takes precedence over if_sid below
  SidGrpMaps:
    SigmaIdToWazuhGroup:
    SigmaIdToWazuhId:
    ProductServiceToWazuhGroup:
    CategoryToWazuhGroup:
    ######################################################
    # Sigma logsource.service will be matched before logsource.product
    ProductServiceToWazuhId:
      windows: 18100, 60000, 60001, 60002, 60003, 60004, 60006, 60007, 60008, 60009, 60010, 60011, 60012
      windefend: 60005
      application: 60003
      security: 60001
      system: 60002
      sysmon: 61603, 61604, 61605, 61606, 61607, 61608, 61609, 61610, 61611, 61612, 61613, 61614, 61615, 61616, 61617, 61644, 61646, 61647, 109203, 109204, 109205, 109206, 109207, 109208
    ######################################################
    # Sigma logsource.category mapping (checked after service, before product)
    # Maps Sigma categories to specific Wazuh parent rule IDs
    # NOTE: Product-specific mappings below. Use the correct mapping based on logsource.product
    CategoryToWazuhId:
      # Windows/Sysmon category mappings
      windows:
        process_creation: 61603        # Sysmon Event 1
        file_change: 61604             # Sysmon Event 2
        network_connection: 61605      # Sysmon Event 3
        sysmon_status: 61606           # Sysmon Event 4
        driver_load: 61608             # Sysmon Event 6
        image_load: 61609              # Sysmon Event 7
        create_remote_thread: 61610    # Sysmon Event 8
        raw_access_thread: 61611       # Sysmon Event 9
        process_access: 61612          # Sysmon Event 10
        file_event: 61613              # Sysmon Event 11
        registry_add: 61614            # Sysmon Event 12
        registry_delete: 61614         # Sysmon Event 12
        registry_event: 61614          # Sysmon Event 12
        registry_set: 61615            # Sysmon Event 13
        registry_rename: 61616         # Sysmon Event 14
        create_stream_hash: 61617      # Sysmon Event 15
        # Sysmon new events (Event 16+) - requires 100000-sysmon_new_events.xml
        pipe_created: 61646, 61647     # Sysmon Events 17-18
        dns_query: 61644               # Sysmon Event 22
        wmi_event: 109203, 109204, 109205  # Sysmon Events 19-21
        file_delete: 109206            # Sysmon Event 23
        clipboard_capture: 109207      # Sysmon Event 24
        process_tampering: 109208      # Sysmon Event 25
        # PowerShell categories (ps_*) will fall back to generic Windows rules.

      # Linux/Auditd category mappings - requires 200110-auditd.xml parent rules
      linux:
        process_creation: 200111       # auditd-execve (command execution)
        file_event: 200112             # auditd-path (file operations)
        file_access: 200112            # auditd-path
        file_change: 200112            # auditd-path
        file_delete: 200112            # auditd-path
        network_connection: 200110     # auditd-syscall
        syscall: 200110                # auditd-syscall
        config_change: 200113          # auditd-config-change
        user_auth: 200114              # auditd-user-cred
        authentication: 200114         # auditd-user-cred
  ######################################################
  # Sigma to Wazuh field name mappings
  # section should match the sigma product field; e.g. windows, linux, mac, apache, check point fw1
  # section/product should be lower case
  FieldMaps:
    Windows:
      Accesses: win.eventdata.accesses
      AccessList: win.eventdata.accessList
      AccessMask: win.eventdata.accessMask
      AccountName: win.eventdata.targetUserName
      Action: win.eventdata.action
      AllowedToDelegateTo: win.eventdata.allowedToDelegateTo
      Application: win.eventdata.application
      ApplicationPath: win.eventdata.applicationPath
      AttributeLDAPDisplayName: win.eventdata.attributeLDAPDisplayName
      AttributeValue: win.eventdata.attributeValue
      AuditPolicyChanges: win.eventdata.auditPolicyChanges
      AuditSourceName: win.eventdata.auditSourceName
      AuthenticationPackage: win.eventdata.authenticationPackageName
      AuthenticationPackageName: win.eventdata.authenticationPackageName
      CallTrace: win.eventdata.callTrace
      Caption: win.eventdata.caption
      Channel: win.eventdata.channel
      ChildImage: win.eventdata.image
      CommandLine: win.eventdata.commandLine
      Company: win.eventdata.company
      ComputerName: win.system.computer
      Contents: win.system.contents
      ContextInfo: win.system.contextInfo
      CurrentDirectory: win.eventdata.currentDirectory
      Data: win.eventdata.data
      Description: win.eventdata.description
      DestAddress: win.eventdata.destAddress
      Destination: win.eventdata.destination
      DestinationHostname: win.eventdata.destinationHostname
      DestinationIp: win.eventdata.destinationIp
      DestinationIsIpv6: win.eventdata.destinationIsIpv6
      DestinationPort: win.eventdata.destinationPort
      Details: win.eventdata.details
      DeviceClassName: win.eventdata.deviceClassName
      DeviceDescription: win.eventdata.deviceDescription
      DeviceName: win.eventdata.deviceName
      DestPort: win.eventdata.destinationPort
      EngineVersion: win.eventdata.engineVersion
      EventID: win.system.eventID
      EventType: win.eventdata.eventType
      FailureCode: win.eventdata.failureCode
      FileName: win.eventdata.fileName
      FileVersion: win.eventdata.fileVersion
      FilterName: win.eventdata.filterName
      FilterOrigin: win.eventdata.filterOrigin
      FolderPath: win.eventdata.image
      GrantedAccess: win.eventdata.grantedAccess
      Hash: win.eventdata.hashes
      Hashes: win.eventdata.hashes
      HostApplication: win.eventdata.hostApplication
      HostName: win.eventdata.hostName
      HostVersion: win.eventdata.hostVersion
      Image: win.eventdata.image
      ImageName: win.eventdata.imageName
      ImagePath: win.eventdata.imagePath
      ImageLoaded: win.eventdata.imageLoaded
      ImpHash: win.eventdata.impHash
      ImpersonationLevel: win.eventdata.impersonationLevel
      Initiated: win.eventdata.initiated
      IntegrityLevel: win.eventdata.integrityLevel
      IpAddress: win.eventdata.ipAddress
      KeyLength: win.eventdata.keyLength
      Keywords: win.eventdata.keywords
      LayerRTID: win.eventdata.layerRTID
      Level: win.system.level
      LogonGuid: win.eventdata.logonGuid
      LogonId: win.eventdata.logonId
      LogonProcessName: win.eventdata.logonProcessName
      LogonType: win.eventdata.logonType
      md5: win.eventdata.hashes
      Message: win.system.message
      ModifyingApplication: win.system.modifyingApplication
      NewName: win.eventdata.newName
      NewTargetUserName: win.eventdata.newTargetUserName
      NewUacValue: win.eventdata.newUacValue
      NewValue: win.eventdata.newValue
      ObjectClass: win.eventdata.objectClass
      ObjectName: win.eventdata.objectName
      ObjectServer: win.eventdata.objectServer
      ObjectType: win.eventdata.objectType
      ObjectValueName: win.eventdata.objectValueName
      OldUacValue: win.eventdata.oldUacValue
      Origin: win.eventdata.origin
      OriginalFileName: win.eventdata.originalFileName
      PackageName: win.eventdata.packageName
      Param1: win.eventdata.param1
      Param2: win.eventdata.param2
      Param3: win.eventdata.param3
      Param4: win.eventdata.Param4
      Param5: win.eventdata.param5
      Param6: win.eventdata.param6
      Param7: win.eventdata.param7
      Param8: win.eventdata.Param8
      Param9: win.eventdata.Param9
      Param10: win.eventdata.Param10
      ParentCommandLine: win.eventdata.parentCommandLine
      ParentImage: win.eventdata.parentImage
      ParentIntegrityLevel: win.eventdata.parentIntegrityLevel
      ParentProcessGuid: win.eventdata.parentProcessGuid
      ParentUser: win.eventdata.parentUser
      Payload: win.eventdata.payload
      PipeName: win.eventdata.pipeName
      PrivilegeList: win.eventdata.privilegeList
      ProcessCommandLine: win.eventdata.commandLine
      ProcessID: win.eventdata.processId
      ProcessName: win.eventdata.processName
      ProcessPath: win.eventdata.processPath
      Product: win.eventdata.product
      Properties: win.eventdata.properties
      ProviderContextName: win.eventdata.providerContextName
      ProviderName: win.eventdata.providerName
      Provider_Name: win.eventdata.providerName
      QueryName: win.eventdata.queryName
      RelativeTargetName: win.eventdata.relativeTargetName
      RemoteAddress: win.eventdata.remoteAddress
      SamAccountName: win.eventdata.samAccountName
      ScriptBlockText: win.eventdata.scriptBlockText
      Service: win.eventdata.service
      ServerName: win.eventdata.serverName
      ServiceFileName: win.eventdata.serviceFileName
      ServiceName: win.eventdata.serviceName
      ServiceStartType: win.eventdata.serviceStartType
      ServiceType: win.eventdata.serviceType
      sha1: win.eventdata.hashes
      sha256: win.eventdata.hashes
      ShareName: win.eventdata.shareName
      SidHistory: win.eventdata.sidHistory
      Signature: win.eventdata.signature
      SignatureStatus: win.eventdata.signatureStatus
      Signed: win.eventdata.signed
      Source: win.eventdata.source
      Source_Name: win.eventdata.sourceName
      SourceAddress: win.eventdata.sourceAddress
      SourceImage: win.eventdata.sourceImage
      SourceNetworkAddress: win.eventdata.ipAddress
      SourcePort: win.eventdata.sourcePort
      SourceWorkstation: win.eventdata.workstation
      StartAddress: win.eventdata.startAddress
      StartFunction: win.eventdata.startFunction
      StartModule: win.eventdata.startModule
      State: win.eventdata.state
      Status: win.eventdata.status
      SubcategoryGuid: win.eventdata.subcategoryGuid
      SubjectAccountName: win.eventdata.subjectUserName
      SubjectDomainName: win.eventdata.subjectDomainName
      SubjectLogonId: win.eventdata.subjectLogonId
      SubjectUserName: win.eventdata.subjectUserName
      SubjectUserSid: win.eventdata.subjectUserSid
      Task: win.eventdata.task
      TaskName: win.eventdata.taskName
      TargetFilename: win.eventdata.targetFilename
      TargetImage: win.eventdata.targetImage
      TargetLogonId: win.eventdata.targetLogonId
      TargetName: win.eventdata.targetName
      TargetObject: win.eventdata.targetObject
      TargetOutboundUserName: win.eventdata.targetOutboundUserName
      TargetProcessAddress: win.eventdata.targetProcessAddress
      TargetServerName: win.eventdata.targetServerName
      TargetSid: win.eventdata.targetSid
      TargetUserName: win.eventdata.targetUserName
      TargetUserSid: win.eventdata.targetUserSid
      TicketEncryptionType: win.eventdata.ticketEncryptionType
      TicketOptions: win.eventdata.ticketOptions
      Type: win.eventdata.type
      User: win.eventdata.user
      UserName: win.eventdata.samAccountName
      Value: win.eventdata.value
      WorkstationName: win.eventdata.workstationName
    Zeek:
      answers: data.answers
      c-uri: data.c-uri
      c-useragent: data.c-useragent
      certificate.serial: data.certificate.serial
      cipher: data.cipher
      client_header_names: data.client_header_names
      dst_ip: data.dstip
      dst_port: data.dstport
      endpoint: data.endpoint
      id.orig_h: data.srcip
      id.orig_p: data.srcport
      id.resp_h: data.dstip
      id.resp_p: data.dstport
      name: data.name
      method: data.method
      operation: data.operation
      path: data.path
      qtype_name: data.qtype_name
      query: data.query
      request_body_len: data.request_body_len
      request_type: data.request_type
      resp_mime_types: data.resp_mime_types
      src_ip: data.srcip
      src_port: data.srcport
      service: data.service
      status_code: data.status_code
      uri: data.uri
      z: data.z
    Linux:
      CommandLine: audit.command
      CurrentDirectory: audit.cwd
      DestinationHostname: audit.dest_host
      DestinationIp: audit.dest_ip
      DestinationPort: audit.dest_port
      Image: audit.exe
      Initiated: audit.initiated
      LogonId: audit.ses
      ParentCommandLine: audit.parent_comm
      ParentImage: audit.parent_exe
      TargetFilename: audit.directory.name
      User: audit.uid
      a0: audit.execve.a0
      a1: audit.execve.a1
      a2: audit.execve.a2
      a3: audit.execve.a3
      a4: audit.execve.a4
      a5: audit.execve.a5
      a6: audit.execve.a6
      a7: audit.execve.a7
      comm: audit.command
      exe: audit.exe
      key: audit.key
      name: audit.directory.name
      nametype: audit.directory.nametype
      proctitle: audit.proctitle
      syscall: audit.syscall
      type: audit.type
      unit: audit.unit
    Azure:
      ActivityDetails: azure.properties.activityDetails
      ActivityDisplayName: azure.properties.activityDisplayName
      AppId: azure.properties.appId
      AuthenticationRequirement: azure.properties.authenticationRequirement
      Category: azure.category
      CategoryValue: azure.categoryValue
      ClientApp: azure.properties.clientApp
      Count: azure.count
      HomeTenantId: azure.properties.homeTenantId
      Initiatedby: azure.properties.initiatedBy
      LoggedByService: azure.properties.loggedByService
      NetworkLocationDetails: azure.properties.networkLocationDetails
      Operation: azure.operationName
      OperationName: azure.operationName
      OperationNameValue: azure.operationNameValue
      ResourceDisplayName: azure.properties.resourceDisplayName
      ResourceProviderValue: azure.resourceProviderValue
      ResultDescription: azure.properties.resultDescription
      ResultType: azure.properties.resultType
      Resultdescription: azure.properties.resultDescription
      RiskState: azure.properties.riskState
      Status: azure.status
      Username: azure.properties.userPrincipalName
      Workload: azure.properties.workload
      eventName: azure.operationName
      properties.message: azure.properties.message
      userPrincipalName: azure.properties.userPrincipalName
    M365:
      ApplicationId: m365.ApplicationId
      ClientIP: m365.ClientIP
      ObjectId: m365.ObjectId
      Operation: m365.Operation
      OrganizationId: m365.OrganizationId
      RequestType: m365.RequestType
      ResultStatus: m365.ResultStatus
      UserId: m365.UserId
      Workload: m365.Workload
      eventName: m365.Operation
      eventSource: m365.RecordType
      status: m365.ResultStatus
